<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); %>
<body>
    <%- include('partials/navbar'); %>

    <div class="container mt-5">
        <h2>Login</h2>
        <form action="/api/v1/auth/login" method="POST" class="row g-3">
            <div class="col-md-6">
                <label for="email" class="form-label">College Email</label>
                <input type="email" name="email" class="form-control" placeholder="Enter your college email" required>
            </div>
            <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter your password" required>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <p>
            Do not have an account? <a href="/api/v1/auth/signup">Singup!</a> Now.
        </p>
    </div>

    <%- include('partials/footer'); %>
</body>
</html>
